[includeIf "gitdir:~/dotfiles/"]
  path = ~/.gitconfig-personal

[includeIf "gitdir:~/projects/"]
  path = ~/.gitconfig-personal

[includeIf "gitdir:~/work/"]
  path = ~/.gitconfig-work
[core]
	editor = vim
